<div class='scrolly'>

	<!-- sticky graphic -->
	<div class='sticky'>
		<div class="container">
		  <!-- <div class="feather"></div> -->
		  <div id="map"></div>
		</div>
	</div>

	<!-- step text -->
	<div class="steps">
		<div class="step" data-step="1">
			<p>The Western States 100 starts in Olympic Valley, California.</p>
		</div>
		<div class="spacer"></div>
		<div class="step" data-step="2">
			<p>It runs through the rugged Sierra Nevada mountains.</p>
		</div>
		<div class="spacer"></div>
		<div class="step" data-step="3">
			<p>And finishes 100.2 miles later in Auburn, CA.</p>
		</div>
		<div class="spacer"></div>
		<div class="step" data-step="4">
			<p>The High Country</p>
		</div>
		<div class="spacer"></div>
	</div>

</div>